@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
     --softBlue: hsl(215, 51%, 70%);
     --cyan: hsl(178, 100%, 50%, 0.5);
     --veryDarkBlueMain: hsl(217, 54%, 11%);
     --veryDarkBlueCard: hsl(216, 50%, 16%);
     --veryDarkBlueLine: hsl(215, 32%, 27%);
     --white: hsl(0, 0%, 100%);
}



body {
    font-family: "Outfit", sans-serif;
    background-color: var(--veryDarkBlueMain);
    font-size: 18px;
}

.main-container{
    
    width: 300px;
    height: 546px;
    margin: 60px auto;
    border-radius: 16px;
    padding: 26px;
    background-color: var(--veryDarkBlueCard);
}

.image {
    margin: 0% auto;
    background-image: url(./images/image-equilibrium.jpg);
     /* ¿Como hago para que mi imagen se ajuste al ancho y largo de 280px?
    Respuesta : Con background-size:cover; */
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 8px;
    margin-bottom: 26px;
    /* ¿Como hago para que la imagen tenga el redondeado que se puso en la imagen del ojito?
    Respuesta : Hay una propiedad que se llama overflow:hidden 
    Lo que estamos diciendo aqui es que todo lo que se sobresalga , se esconda  */
    overflow: hidden;
}

.eye-image{
    opacity: 0;
    background-color: var(--cyan);
    background-image: url(./images/icon-view.svg);
    /* Se aprecia que con background-image: url(./images/icon-view.svg)
    salen varios ojos blancos en la imagen ,
    ¿como hago para que solo salga un ojo blanco?
    Respuesta : background-repeat: no-repeat; */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    
}

/* El efecto hover es cuando paso el raton por encima de la imagen  */

.eye-image:hover {
    opacity: 1;
    cursor: pointer;
}

h1 {
    color: var(--white);
    font-size: 1.3em;
    margin-bottom: 18px;
}

.description {
    font-size: 0.9em;
    color: var(--softBlue);
    margin-bottom: 20px;
    font-weight: 300;
}

.details-container{
    /* El display: flex; va a hacer que se ponga uno al lado del otro  */
    display: flex;
    /* Vamos a hacer un espacio a cada uno de ellos con justify-content: space-between;  */
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.value{
    color: var(--cyan);
}

.time{
    color: var(--softBlue);
}

.line{
    border-top: 1px solid var(--softBlue);
    margin-bottom: 20px;
}

.creator-container{
    display: flex;
    align-items: center;
    
}

.photo{
    background-image: url(images/image-avatar.png);
    width: 36px;
    height: 36px;
    background-size: cover;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.creator{
    color: var(--softBlue);
    font-size: 0.85em;
    margin-left: 15px;
}

.creator span{
    color: var(--white);
}

.title:hover{
    color: var(--cyan);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (min-width: 900px){
    .main-container{
        width: 354px;
        height: 600px;
    }

    .image{
        width: 300px;
        height: 300px;
    }

    .description{
        font-size: 1em;
    }
}